Iterable 자료형

In [149]:
x_list = [0,1,2,3,4]
print(x_list[0])
print(x_list[1])
print(x_list[2])
print(x_list[3])
print(x_list[4])

0
1
2
3
4

In [ ]:
x_list = [0, 1, 2, 3, 4]  
print(x_list[-1])
print(x_list[-2])
print(x_list[-3])
print(x_list[-4])
print(x_list[-5])

4
3
2
1
0

In [151]:
try:
     print(x_list[5])
except IndexError as e:
     print(e)

list index out of range

In [152]:
x_list = [1, 2, 3, 4, 5]
x_tuple = (1, 2, 3, 4, 5)
print(f'{x_list = }\t=> {x_list[0] = }')
print(f'{x_tuple = }\t=> {x_tuple[-1] = }')

x_list = [1, 2, 3, 4, 5]	=> x_list[0] = 1
x_tuple = (1, 2, 3, 4, 5)	=> x_tuple[-1] = 5

In [153]:
x_dict = {'name': ['김홍익', '이파이'], 'id' : [12345,67890]}
print(f'{x_dict = } \t=> {x_dict["name"][0] = }')
print(f'{x_str = } \t\t=> {x_str[3] = }')

x_dict = {'name': ['김홍익', '이파이'], 'id': [12345, 67890]} 	=> x_dict["name"][0] = '김홍익'
x_str = 'Hello World!' 		=> x_str[3] = 'l'

In [154]:
x_str = 'Hellod World!'
print(f'{x_str = } \t\t=> {x_str[0] = }')
print(f'{x_str = } \t\t=> {x_str[3] = }')

x_str = 'Hellod World!' 		=> x_str[0] = 'H'
x_str = 'Hellod World!' 		=> x_str[3] = 'l'

In [155]:
x_list = [0, 1, 2, 3, 4]
print(x_list[1:3])
print(x_list[1:])
print(x_list[:3])
print(x_list[:])

[1, 2]
[1, 2, 3, 4]
[0, 1, 2]
[0, 1, 2, 3, 4]

In [156]:
try:
    print(x_list[1:10])
except IndexError as e:
    print(e)

[1, 2, 3, 4]

In [157]:
x_list = [1, 2, 3, 4, 5]
x_tuple = (1, 2, 3, 4, 5)
print(f'{x_list = } \t=> {x_list[0:3] = }')
print(f'{x_tuple = } \t=> {x_tuple[-1:-4:-1] = }')

x_list = [1, 2, 3, 4, 5] 	=> x_list[0:3] = [1, 2, 3]
x_tuple = (1, 2, 3, 4, 5) 	=> x_tuple[-1:-4:-1] = (5, 4, 3)

In [158]:
x_dict = {'name' : ['김홍익' , '이파이'], 'id':[12345, 67890]}
print(f'{x_dict = } \t=> {x_dict["name"][0:1] = }')

x_dict = {'name': ['김홍익', '이파이'], 'id': [12345, 67890]} 	=> x_dict["name"][0:1] = ['김홍익']

In [159]:
x_str = 'Hello World!'
print(f'{x_str = } \t\t=> {x_str[0:3] = }')
print(f'{x_str = } \t\t=> {x_str[-2:-10:-2] = }')

x_str = 'Hello World!' 		=> x_str[0:3] = 'Hel'
x_str = 'Hello World!' 		=> x_str[-2:-10:-2] = 'drWo'

In [160]:
x = (1,2,3)
y = x
print(f'{x = } \t=> {id(x) = }')
print(f'{y = } \t=> {id(y) = }')

x = (1, 2, 3) 	=> id(x) = 2073778781312
y = (1, 2, 3) 	=> id(y) = 2073778781312

In [161]:
y = (1,20,3)
print(f'{x = } \t=> {id(x) = }')
print(f'{y = } \t=> {id(y) = }')

x = (1, 2, 3) 	=> id(x) = 2073778781312
y = (1, 20, 3) 	=> id(y) = 2073777683072

In [162]:
x = [1,2,3]
y = x
print(f'{x = } \t=>{id(x) = }')
print(f'{y = } \t=>{id(y) = }')

x = [1, 2, 3] 	=>id(x) = 2073771741824
y = [1, 2, 3] 	=>id(y) = 2073771741824

In [163]:
y[1] = 20
print(f'{x = } \t=> {id(x) = }')
print(f'{y = } \t=> {id(y) = }')

x = [1, 20, 3] 	=> id(x) = 2073771741824
y = [1, 20, 3] 	=> id(y) = 2073771741824

In [164]:
x = [1,2,3]
y = x.copy()
print(f'{x = } \t=> {id(x) = }')
print(f'{y = } \t=> {id(y) = }')

x = [1, 2, 3] 	=> id(x) = 2073770476160
y = [1, 2, 3] 	=> id(y) = 2073777768320

In [165]:
y[1] = 20
print(f'{x = } \t=> {id(x) = }')
print(f'{y = } \t=> {id(y) = }')

x = [1, 2, 3] 	=> id(x) = 2073770476160
y = [1, 20, 3] 	=> id(y) = 2073777768320

In [166]:
x_list = [1, 2, 3, 4, 5]
x_tuple = (1, 2, 3, 4, 5)
print(f'x_list는 {type(x_list)}이고, x_tuple은 {type(x_tuple)}이다.')

x_list는 <class 'list'>이고, x_tuple은 <class 'tuple'>이다.

In [167]:
print(f'Befoe: {x_list = }')
try:
    x_list[1] = '2'
    del x_list[3]
except TypeError as e:
      print(f'Error : {e}')
print(f'After : {x_list = }')

Befoe: x_list = [1, 2, 3, 4, 5]
After : x_list = [1, '2', 3, 5]

In [168]:
print(f'Befoe: {x_tuple = }')
try:
   x_tuple[1] = '2'
except TypeError as e:
    print(f'Error : {e}')
print(f'After : {x_tuple = }')

Befoe: x_tuple = (1, 2, 3, 4, 5)
Error : 'tuple' object does not support item assignment
After : x_tuple = (1, 2, 3, 4, 5)

In [170]:
x_list = [0, 1, 2, 3, 4]
print(f'{len(x_list) = }')
print(f'{sum(x_list) = }')
print(f'{min(x_list) = }')
print(f'{max(x_list) = }')
print(f'{sorted(x_list) = }')
print(f'{sorted(x_list, reverse=True) = }')
print(f'{all(x_list) = }')
print(f'{any(x_list) = }')

len(x_list) = 5
sum(x_list) = 10
min(x_list) = 0
max(x_list) = 4
sorted(x_list) = [0, 1, 2, 3, 4]
sorted(x_list, reverse=True) = [4, 3, 2, 1, 0]
all(x_list) = False
any(x_list) = True

In [172]:
print(dir(x_list), end='\n'+'='*80+'\n')
print(dir(x_tuple))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']
================================================================================
['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [7]:
x_list = [1, 2, 3, 4, 5, 2, 3, 2]
print(f'{x_list = }')
print(f'{x_lsit.count(2) = }')
print(f'{x_list.index(2) = }')

x_list = [1, 2, 3, 4, 5, 2, 3, 2]
x_lsit.count(2) = 3
x_list.index(2) = 1

In [9]:
y_list = x_list.copy()
print(f'{y_list = }')
print(f'{x_list is y_list = }')
print(f'{id(x_list) = }, {id(y_list) = }')

y_list = [1, 2, 3, 4, 5, 2, 3, 2]
x_list is y_list = False
id(x_list) = 2339543732544, id(y_list) = 2339543433472

In [10]:
x_list.reverse()
print(f'{x_list = }')

x_list = [2, 3, 2, 5, 4, 3, 2, 1]

In [11]:
x_list.sort()
print(f'{x_list = }')

x_list = [1, 2, 2, 2, 3, 3, 4, 5]

In [12]:
x_list.append(6)
print(f'{x_list = }')

x_list = [1, 2, 2, 2, 3, 3, 4, 5, 6]

In [13]:
x_list.extend([7,8,9])
print(f'{x_list = }')

x_list = [1, 2, 2, 2, 3, 3, 4, 5, 6, 7, 8, 9]

In [15]:
x_list.append([10, 11, 12])
print(f'{x_list = }')

x_list = [1, 2, 2, 2, 3, 3, 4, 5, 6, 7, 8, 9, [10, 11, 12]]

In [16]:
x_list.insert(3, 3.5)
print(f'{x_list = }')

x_list = [1, 2, 2, 3.5, 2, 3, 3, 4, 5, 6, 7, 8, 9, [10, 11, 12]]

In [17]:
x_list.remove(3.5)
print(f'{x_list = }')

x_list = [1, 2, 2, 2, 3, 3, 4, 5, 6, 7, 8, 9, [10, 11, 12]]

In [20]:
x_list.pop()
print(f'{x_list = }')
x_list.pop(7)
print(f'{x_list = }')

x_list = [1, 2, 2, 2, 3, 3, 4, 5, 6, 7, 8]
x_list = [1, 2, 2, 2, 3, 3, 4, 6, 7, 8]

In [21]:
x_pop = x_list.pop(0)
print(f'{x_list = }, {x_pop = }')

x_list = [2, 2, 2, 3, 3, 4, 6, 7, 8], x_pop = 1

In [22]:
x_list.clear()
print(f'{x_list = }')

x_list = []

In [23]:
del x_list
try:
    print(f'{x_list = }')
except NameError as e:
    print(f'Error : {e}')

Error : name 'x_list' is not defined

In [28]:
string1 = "Hello Python ! My name is Python. I am Python Developer ."
print(string1)

Hello Python ! My name is Python. I am Python Developer .

In [30]:
string2 ='Hello Python! my name is Python. I am Python Developer.'
print(string2)

Hello Python! my name is Python. I am Python Developer.

In [34]:
string3="""Hello Python!
My name is Python.
I am a Python Developer.
"""
print(string3)

Hello Python!
My name is Python.
I am a Python Developer.

In [36]:
string4='''Hello Python!
My name is Python.
I am a Python Developer.
'''
print(string4)

Hello Python!
My name is Python.
I am a Python Developer.

In [38]:
string = 'Hello \tPython! \nMy \tname \tis \tPython. \nI \tam \ta \tPython \tDeveloper.'
print(string)

Hello 	Python!
My 	name 	is 	Python.
I 	am 	a 	Python 	Developer.

In [40]:
sring = 'Hello \t\\Python\\! \nMy \tname \tis \t\'Python\'!. \nI \tam \ta \t\"Python\" \tDeveloper.'
print(string)

Hello 	Python!
My 	name 	is 	Python.
I 	am 	a 	Python 	Developer.

In [4]:
string_r = r'Hell0 \t\\Python\\! \nMy \tname \tis \t\'Python\'!. \nI \tam \t \t\"Python\" \Developer.'
print(string_r)

Hell0 \t\\Python\\! \nMy \tname \tis \t\'Python\'!. \nI \tam \t \t\"Python\" \Developer.

In [5]:
name ='Python'
string_f = f'Hello {name}! My name is {name}. I am a {name} Developer'
print(string_f)

Hello Python! My name is Python. I am a Python Developer

In [9]:
string = "hello Python! My name is Python. I am a Python Developer."
print(f'''
==== 인덱싱(포인트) ====
{string[0]=}
{string[3]=}
{string[-1]=}
{string[-3]=}

==== 슬라이싱(구간) ====
{string[0:5]=}
{string[6:12]=}
{string[:5]=}
{string[6:]=}
{string[6:-1]=}
{string[6:-3]=}

==== 스텝(간격) ====
- 인덱스 6부터 2칸씩 12까지
{string[6:12:2]=}
- 처음부터 끝까지 2칸씩
{string[::2]=}
- 처음부터 끝까지 거꾸로 1칸씩
{string[::-1]=}
''')

==== 인덱싱(포인트) ====
string[0]='h'
string[3]='l'
string[-1]='.'
string[-3]='e'

==== 슬라이싱(구간) ====
string[0:5]='hello'
string[6:12]='Python'
string[:5]='hello'
string[6:]='Python! My name is Python. I am a Python Developer.'
string[6:-1]='Python! My name is Python. I am a Python Developer'
string[6:-3]='Python! My name is Python. I am a Python Develop'

==== 스텝(간격) ====
- 인덱스 6부터 2칸씩 12까지
string[6:12:2]='Pto'
- 처음부터 끝까지 2칸씩
string[::2]='hloPto!M aei yhn  maPto eeoe.'
- 처음부터 끝까지 거꾸로 1칸씩
string[::-1]='.repoleveD nohtyP a ma I .nohtyP si eman yM !nohtyP olleh'

In [10]:
string = "Hello Python! " + "My name is Python. " + "I am a Python Developer."
print(string)

Hello Python! My name is Python. I am a Python Developer.

In [11]:
string = "Hello Python! " * 3
print(string)

Hello Python! Hello Python! Hello Python!

In [13]:
string = "2024_바이오헬스 교과목 목록.xlist"
print(len(string))
print('2024' in string)
print('csv' not in string)

23
True
True

In [16]:
my_dict1 = dict()
my_dict2 = dict()
print(f'{my_dict1 = }\n{my_dict2 = }')

my_dict1 = {}
my_dict2 = {}

In [17]:
my_dict1 = {'name': 'Max' , 'age': 28, 'city': 'New York'}
my_dict2 = dict(name='Max', age=28, city='New York')
my_dict3 = dict([('name', 'Max'), ('age', 28), ('city','New York')])
print(f'{my_dict1 = }\n{my_dict2 = }\n{my_dict3 = }')

my_dict1 = {'name': 'Max', 'age': 28, 'city': 'New York'}
my_dict2 = {'name': 'Max', 'age': 28, 'city': 'New York'}
my_dict3 = {'name': 'Max', 'age': 28, 'city': 'New York'}

In [20]:
person_keys = ['name', 'age', 'city']
person_values = ['Max', 28, 'New York']
my_dict4 = dict(zip(person_keys, person_values))
print(f'{my_dict4 = }')

my_dict4 = {'name': 'Max', 'age': 28, 'city': 'New York'}

In [22]:
my_dict_dict = {'A': {'name': 'Max', 'age': 28, 'city': 'New York'},
                'B': {'name': 'Mary', 'age': 22, 'city': 'Seoul'}}
print(f'{my_dict_dict = }')

my_dict_dict = {'A': {'name': 'Max', 'age': 28, 'city': 'New York'}, 'B': {'name': 'Mary', 'age': 22, 'city': 'Seoul'}}

In [23]:
from pprint import pprint
pprint(my_dict_dict)

{'A': {'age': 28, 'city': 'New York', 'name': 'Max'},
 'B': {'age': 22, 'city': 'Seoul', 'name': 'Mary'}}

In [24]:
print(f'{my_dict1 = }')
print(f'{type(my_dict1) = }')
print(f'{len(my_dict1) = }')
print("name" in my_dict1)
print("Max" in my_dict1)

my_dict1 = {'name': 'Max', 'age': 28, 'city': 'New York'}
type(my_dict1) = <class 'dict'>
len(my_dict1) = 3
True
False

In [26]:
print(f'{my_dict1["name"] = }')

try:
          print(f'{my_dict1["name2"] = }')
except KeyError as e:
        print(f'KeyError: {e}')

my_dict1["name"] = 'Max'
KeyError: 'name2'

In [27]:
print(f'{my_dict_dict["A"]["name"] = }')

my_dict_dict["A"]["name"] = 'Max'

In [28]:
print(f'{my_dict1.get("name") = }')
print(f'{my_dict1.get("name2") = }')
print(f'{my_dict1.get("name2", "replacement") = }')

my_dict1.get("name") = 'Max'
my_dict1.get("name2") = None
my_dict1.get("name2", "replacement") = 'replacement'

In [29]:
print(f'{my_dict1.keys() = }')
print(f'{my_dict1.values() = }')
print(f'{my_dict1.items() = }')

my_dict1.keys() = dict_keys(['name', 'age', 'city'])
my_dict1.values() = dict_values(['Max', 28, 'New York'])
my_dict1.items() = dict_items([('name', 'Max'), ('age', 28), ('city', 'New York')])

In [35]:
print(f'{my_dict1 = }')
my_dict1["id"] = 123
print(f'{my_dict1 = }')

my_dict1 = {'name': 'Max', 'age': 28, 'city': 'New York'}
my_dict1 = {'name': 'Max', 'age': 28, 'city': 'New York', 'id': 123}

In [36]:
del my_dict1["id"]
print(f'{my_dict1 = }')

my_dict1 = {'name': 'Max', 'age': 28, 'city': 'New York'}

In [37]:
my_dict["age"] = 30 
print(f'{my_dict1 = }')

my_dict1 = {'name': 'Max', 'age': 28, 'city': 'New York'}

In [41]:
my_dict1.update(age = 40, id = 123, occupation = "Data Scientist")
print(f'{my_dict1 = }')

my_dict1 = {'name': 'Max', 'age': 40, 'city': 'New York', 'id': 123, 'occupation': 'Data Scientist'}

In [42]:
my_dict_more = {"age": 50, "affiliation": "Hongik Univ."}
my_dict1.update(my_dict_more)
print(f'{my_dict1 = }')

my_dict1 = {'name': 'Max', 'age': 50, 'city': 'New York', 'id': 123, 'occupation': 'Data Scientist', 'affiliation': 'Hongik Univ.'}

In [44]:
my_dict1.pop("affiliation")
print(f'{my_dict1 = }')

my_dict1 = {'name': 'Max', 'age': 50, 'city': 'New York', 'id': 123, 'occupation': 'Data Scientist'}

In [46]:
occupation = my_dict1.pop("occupation")
print(f'{my_dict1 = }\n{occupation = }')

my_dict1 = {'name': 'Max', 'age': 50, 'city': 'New York', 'id': 123}
occupation = 'Data Scientist'

In [47]:
try: 
    my_dict1.pop("occupation")
except KeyError as e: 
    print(f'KeyError: {e}')
    occupation = my_dict1.pop("occupation", "unknown")
    print(f'{occupation = }')

KeyError: 'occupation'
occupation = 'unknown'

In [48]:
print(f'{my_dict1 = }')
last = my_dict1.popitem()
print(f'{my_dict1 = }\n{last = }')
last = (f'{my_dict1 = }\n{last = }')

my_dict1 = {'name': 'Max', 'age': 50, 'city': 'New York', 'id': 123}
my_dict1 = {'name': 'Max', 'age': 50, 'city': 'New York'}
last = ('id', 123)

In [49]:
my_dict1.clear()
print(f'{my_dict1 = }')

my_dict1 = {}

In [1]:
print('여기서부터는 응용입니다.')

여기서부터는 응용입니다.

In [2]:
#immutable객체의 assignment 응용용
x = '선봉'
y = '산업'
z = '데이터'
print(f'{x = }\t=> {id(x) = }')
print(f'{y = }\t=> {id(y) = }')
print(f'{z = }\t=> {id(z) = }')

x = '선봉'	=> id(x) = 1542505864432
y = '산업'	=> id(y) = 1542505868272
z = '데이터'	=> id(z) = 1542507078608

In [3]:
#mutable객체의 얕은 복사
x = ['봄','여름','가을','겨울']
y = x
print(f'{x = }\t=> {id(x) = }')
print(f'{y = }\t=> {id(y) = }')

x = ['봄', '여름', '가을', '겨울']	=> id(x) = 1542511164352
y = ['봄', '여름', '가을', '겨울']	=> id(y) = 1542511164352

In [12]:
#mutable객체의 깊은 복사 
x = ['봄','여름','가을','겨울']
y = x.copy()
print(f'{x = } \t=> {id(x) = }')
print(f'{y = } \t=> {id(y) = }')
y[1] = '초여름'
print(f'{x = } \t=> {id(x) = }')
print(f'{y = } \t=> {id(y) = }')

x = ['봄', '여름', '가을', '겨울'] 	=> id(x) = 1542516364352
y = ['봄', '여름', '가을', '겨울'] 	=> id(y) = 1542516365056
x = ['봄', '여름', '가을', '겨울'] 	=> id(x) = 1542516364352
y = ['봄', '초여름', '가을', '겨울'] 	=> id(y) = 1542516365056

In [22]:
#객체 메서드를 이용한 응용
x_list = [3,4,5,6,74,4,3,42,23,4,5,43,23,45,3]
print(f'{x_list.count(4) = }')
x_list.reverse()
print(f'{x_list = }')


x_list.pop()
print(f'{x_list = }')


x_list.insert(3, 47)
print(f'{x_list = }')


x_pop = x_list.pop(6)
print(f'{x_list = }, {x_pop = }')


x_list.clear()
print(f'{x_list = }')


del x_list 
try: 
          print(f'{x_list = }')
except NameError as e:
        print(f'Error : {e}')

x_list.count(4) = 3
x_list = [3, 45, 23, 43, 5, 4, 23, 42, 3, 4, 74, 6, 5, 4, 3]
x_list = [3, 45, 23, 43, 5, 4, 23, 42, 3, 4, 74, 6, 5, 4]
x_list = [3, 45, 23, 47, 43, 5, 4, 23, 42, 3, 4, 74, 6, 5, 4]
x_list = [3, 45, 23, 47, 43, 5, 23, 42, 3, 4, 74, 6, 5, 4], x_pop = 4
x_list = []
Error : name 'x_list' is not defined

In [27]:
#문자열 생성
string1 = '안녕하세요 산업데이터공학과 25학번 윤대훈입니다.'
print(string1)
print(len(string1))
print('산업' in string1)
print('산공' in string1)

안녕하세요 산업데이터공학과 25학번 윤대훈입니다.
27
True
False

In [32]:
#dictionary
my_dict1 = {'name':'윤대훈', 'age': 20, 'city': 'Seoul'}
print(f'{my_dict1}')

{'name': '윤대훈', 'age': 20, 'city': 'Seoul'}

<class 'list'>

In [46]:
for i in range(1, 10):
          for j in range(1, 10):
                  print(f'{j}x{i}={j*i:>2d}', end='\t')
                  if j ==9:
                          print()

1x1= 1	2x1= 2	3x1= 3	4x1= 4	5x1= 5	6x1= 6	7x1= 7	8x1= 8	9x1= 9
1x2= 2	2x2= 4	3x2= 6	4x2= 8	5x2=10	6x2=12	7x2=14	8x2=16	9x2=18
1x3= 3	2x3= 6	3x3= 9	4x3=12	5x3=15	6x3=18	7x3=21	8x3=24	9x3=27
1x4= 4	2x4= 8	3x4=12	4x4=16	5x4=20	6x4=24	7x4=28	8x4=32	9x4=36
1x5= 5	2x5=10	3x5=15	4x5=20	5x5=25	6x5=30	7x5=35	8x5=40	9x5=45
1x6= 6	2x6=12	3x6=18	4x6=24	5x6=30	6x6=36	7x6=42	8x6=48	9x6=54
1x7= 7	2x7=14	3x7=21	4x7=28	5x7=35	6x7=42	7x7=49	8x7=56	9x7=63
1x8= 8	2x8=16	3x8=24	4x8=32	5x8=40	6x8=48	7x8=56	8x8=64	9x8=72
1x9= 9	2x9=18	3x9=27	4x9=36	5x9=45	6x9=54	7x9=63	8x9=72	9x9=81

In [49]:
for i in range(1, 20):
          for j in range(1, 20):
                  print(f'{j}x{j}={j*i:>2d}', end='\t')
                  if j == 19:
                          print()

1x1= 1	2x2= 2	3x3= 3	4x4= 4	5x5= 5	6x6= 6	7x7= 7	8x8= 8	9x9= 9	10x10=10	11x11=11	12x12=12	13x13=13	14x14=14	15x15=15	16x16=16	17x17=17	18x18=18	19x19=19
1x1= 2	2x2= 4	3x3= 6	4x4= 8	5x5=10	6x6=12	7x7=14	8x8=16	9x9=18	10x10=20	11x11=22	12x12=24	13x13=26	14x14=28	15x15=30	16x16=32	17x17=34	18x18=36	19x19=38
1x1= 3	2x2= 6	3x3= 9	4x4=12	5x5=15	6x6=18	7x7=21	8x8=24	9x9=27	10x10=30	11x11=33	12x12=36	13x13=39	14x14=42	15x15=45	16x16=48	17x17=51	18x18=54	19x19=57
1x1= 4	2x2= 8	3x3=12	4x4=16	5x5=20	6x6=24	7x7=28	8x8=32	9x9=36	10x10=40	11x11=44	12x12=48	13x13=52	14x14=56	15x15=60	16x16=64	17x17=68	18x18=72	19x19=76
1x1= 5	2x2=10	3x3=15	4x4=20	5x5=25	6x6=30	7x7=35	8x8=40	9x9=45	10x10=50	11x11=55	12x12=60	13x13=65	14x14=70	15x15=75	16x16=80	17x17=85	18x18=90	19x19=95
1x1= 6	2x2=12	3x3=18	4x4=24	5x5=30	6x6=36	7x7=42	8x8=48	9x9=54	10x10=60	11x11=66	12x12=72	13x13=78	14x14=84	15x15=90	16x16=96	17x17=102	18x18=108	19x19=114
1x1= 7	2x2=14	3x3=21	4x4=28	5x5=35	6x6=42	7x7=49	8x8=56	9x9=63	10x10=70	11x11=77	12x12=84	13x13=91	14x14=98	15x15=105	16x16=112	17x17=119	18x18=126	19x19=133
1x1= 8	2x2=16	3x3=24	4x4=32	5x5=40	6x6=48	7x7=56	8x8=64	9x9=72	10x10=80	11x11=88	12x12=96	13x13=104	14x14=112	15x15=120	16x16=128	17x17=136	18x18=144	19x19=152
1x1= 9	2x2=18	3x3=27	4x4=36	5x5=45	6x6=54	7x7=63	8x8=72	9x9=81	10x10=90	11x11=99	12x12=108	13x13=117	14x14=126	15x15=135	16x16=144	17x17=153	18x18=162	19x19=171
1x1=10	2x2=20	3x3=30	4x4=40	5x5=50	6x6=60	7x7=70	8x8=80	9x9=90	10x10=100	11x11=110	12x12=120	13x13=130	14x14=140	15x15=150	16x16=160	17x17=170	18x18=180	19x19=190
1x1=11	2x2=22	3x3=33	4x4=44	5x5=55	6x6=66	7x7=77	8x8=88	9x9=99	10x10=110	11x11=121	12x12=132	13x13=143	14x14=154	15x15=165	16x16=176	17x17=187	18x18=198	19x19=209
1x1=12	2x2=24	3x3=36	4x4=48	5x5=60	6x6=72	7x7=84	8x8=96	9x9=108	10x10=120	11x11=132	12x12=144	13x13=156	14x14=168	15x15=180	16x16=192	17x17=204	18x18=216	19x19=228
1x1=13	2x2=26	3x3=39	4x4=52	5x5=65	6x6=78	7x7=91	8x8=104	9x9=117	10x10=130	11x11=143	12x12=156	13x13=169	14x14=182	15x15=195	16x16=208	17x17=221	18x18=234	19x19=247
1x1=14	2x2=28	3x3=42	4x4=56	5x5=70	6x6=84	7x7=98	8x8=112	9x9=126	10x10=140	11x11=154	12x12=168	13x13=182	14x14=196	15x15=210	16x16=224	17x17=238	18x18=252	19x19=266
1x1=15	2x2=30	3x3=45	4x4=60	5x5=75	6x6=90	7x7=105	8x8=120	9x9=135	10x10=150	11x11=165	12x12=180	13x13=195	14x14=210	15x15=225	16x16=240	17x17=255	18x18=270	19x19=285
1x1=16	2x2=32	3x3=48	4x4=64	5x5=80	6x6=96	7x7=112	8x8=128	9x9=144	10x10=160	11x11=176	12x12=192	13x13=208	14x14=224	15x15=240	16x16=256	17x17=272	18x18=288	19x19=304
1x1=17	2x2=34	3x3=51	4x4=68	5x5=85	6x6=102	7x7=119	8x8=136	9x9=153	10x10=170	11x11=187	12x12=204	13x13=221	14x14=238	15x15=255	16x16=272	17x17=289	18x18=306	19x19=323
1x1=18	2x2=36	3x3=54	4x4=72	5x5=90	6x6=108	7x7=126	8x8=144	9x9=162	10x10=180	11x11=198	12x12=216	13x13=234	14x14=252	15x15=270	16x16=288	17x17=306	18x18=324	19x19=342
1x1=19	2x2=38	3x3=57	4x4=76	5x5=95	6x6=114	7x7=133	8x8=152	9x9=171	10x10=190	11x11=209	12x12=228	13x13=247	14x14=266	15x15=285	16x16=304	17x17=323	18x18=342	19x19=361

In [55]:
for i in range(2, 21, 2):
          for j in range(2, 21, 2):
                  print(f'{j:>2d}x{i:>2d}', end=' ')
                  if j ==20:
                      print()

 2x 2  4x 2  6x 2  8x 2 10x 2 12x 2 14x 2 16x 2 18x 2 20x 2
 2x 4  4x 4  6x 4  8x 4 10x 4 12x 4 14x 4 16x 4 18x 4 20x 4
 2x 6  4x 6  6x 6  8x 6 10x 6 12x 6 14x 6 16x 6 18x 6 20x 6
 2x 8  4x 8  6x 8  8x 8 10x 8 12x 8 14x 8 16x 8 18x 8 20x 8
 2x10  4x10  6x10  8x10 10x10 12x10 14x10 16x10 18x10 20x10
 2x12  4x12  6x12  8x12 10x12 12x12 14x12 16x12 18x12 20x12
 2x14  4x14  6x14  8x14 10x14 12x14 14x14 16x14 18x14 20x14
 2x16  4x16  6x16  8x16 10x16 12x16 14x16 16x16 18x16 20x16
 2x18  4x18  6x18  8x18 10x18 12x18 14x18 16x18 18x18 20x18
 2x20  4x20  6x20  8x20 10x20 12x20 14x20 16x20 18x20 20x20

In [59]:
for i in range(20, 1, -2):
          for j in range(20, 1, -2):
                   print(f'{j:>2d}x{i:>2d}', end='    ')
                   if j ==2:
                           print()

20x20    18x20    16x20    14x20    12x20    10x20     8x20     6x20     4x20     2x20
20x18    18x18    16x18    14x18    12x18    10x18     8x18     6x18     4x18     2x18
20x16    18x16    16x16    14x16    12x16    10x16     8x16     6x16     4x16     2x16
20x14    18x14    16x14    14x14    12x14    10x14     8x14     6x14     4x14     2x14
20x12    18x12    16x12    14x12    12x12    10x12     8x12     6x12     4x12     2x12
20x10    18x10    16x10    14x10    12x10    10x10     8x10     6x10     4x10     2x10
20x 8    18x 8    16x 8    14x 8    12x 8    10x 8     8x 8     6x 8     4x 8     2x 8
20x 6    18x 6    16x 6    14x 6    12x 6    10x 6     8x 6     6x 6     4x 6     2x 6
20x 4    18x 4    16x 4    14x 4    12x 4    10x 4     8x 4     6x 4     4x 4     2x 4
20x 2    18x 2    16x 2    14x 2    12x 2    10x 2     8x 2     6x 2     4x 2     2x 2

In [60]:
def add_ten(num):
          return num + 10
add_ten(34)

44

In [61]:
map(add_ten, [1, 2, 3, 4, 5])

In [ ]:
nums_map

In [ ]:
list{range(2, 3)}